
/*.button{
  height: 100%;
  align-items: center;
}

.button img{
  max-width: 80%;

}

.Git-SignIn{
  max-height: 80%;
  margin-left: 10px;
}

.Fb-SignIn{
  max-inline-size: 80%;
  margin-left: 10px;
  display: inline-block;
}

.Google-SignIn{
  max-inline-size: 80%;
  margin-left: 10px;
  display: inline-block;
}*/

.SignIn {
    background-color: #ffd1dc;
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
}

.SiginIn button:hover{
  transform: scale(2);
}

.SignIn button {
    display: inline-block;
    width: 130px;
    height: 100px;
    line-height: 100%;
    vertical-align: middle;
    background: none;
    border: none;
    margin-top: 3%;
}

.SignIn button img{
  -webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SignIn button img:hover{
  transform: scale(1.3);
}

.SignIn button img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
    line-height: 100%;
    vertical-align: middle;
}